/* General */
body {
    background-color: #3a3a3a;
    color: #7b2e2e;
    font-size: 18px;
    font-family: "Open Sans", sans-serif;
    line-height: 24px;
  }
  
  /* Login page */
  .form {
    max-width: 500px;
    margin: 0 auto;
    text-align: center;
  }
  
  .title {
    font-size: 32px;
    margin-bottom: 20px;
  }
  
  .form-group, .profile-item, .jobposting-form-group {
    margin-bottom: 20px;
  }
  
  .form-label, .jobposting-label, .profile-label {
    display: inline-block;
    width: 150px;
    font-weight: bold;
    margin-bottom: 5px;
    margin-right: 10px;
  }
  
  .form-input, .jobposting-input, .profile-value {
    display: inline-block;
    width: calc(100% - 150px);
    padding: 10px;
    background-color: transparent;
    border: 2px solid #f6f5f5;
    color: #080101;
    font-size: 18px;
  }
  
  .form-input:focus, .jobposting-input:focus {
    outline: none;
    border-color: #256a63;
  }
  
  .form-button, .jobposting-button {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #67baf6;
    color: #6f3e3e;
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .form-button:hover, .jobposting-button:hover {
    background-color: #569a8a;
  }
  
  /* Profile page */
  .profile-container {
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
  }
  
  .edit-button, .logout-button {
    display: inline-block;
    margin-right: 10px;
    padding: 10px;
    background-color: #5d7ee2;
    color: #f4b8b8;
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .jobposting-button-container {
    margin-top: 20px;
  }
  
  .profile {
    margin-top: 20px;
    text-align: left;
  }
  
  .profile-value {
    display: inline-block;
    width: calc(100% - 150px);
  }
  
  @media (max-width: 767px) {
    .title {
      font-size: 24px;
    }
  
    .form-label, .jobposting-label, .profile-label {
      width: 100px;
    }
  
    .form-input, .jobposting-input {
      font-size: 16px;
      line-height: 20px;
    }
  
    .edit-button, .logout-button {
      font-size: 14px;
      padding: 5px;
    }
  
    .jobposting-button {
      font-size: 16px;
      padding: 10px;
    }
  }
  